<p>basic works!</p>

<a routerLink="/ngr-basic/calculatrice/simple" >calculatrice simple </a><br/>
<a routerLink="/ngr-basic/calculatrice/sophistiquee" >calculatrice sophistiquee</a><br/>
<a routerLink="/ngr-basic/tva" >tva</a><br/>

<router-outlet></router-outlet> 
<!-- pour afficher ici sous composant tva ou calculatrice 
     selon fin de route courante-->
    
<tabset>
    <tab heading="xy">
        <app-xy></app-xy>
   </tab>
   <tab heading="zz">
        <app-zz></app-zz>
   </tab>
</tabset>


