<p class="entete" [style.background-color]="couleurFondPrefereeLocale">
    <span [style.color]="couleurTexte">application angular</span>
    <!-- 
    {{titre}} - &nbsp;
    <a routerLink='/ngr-welcome'> welcome</a> &nbsp;
    <a routerLink='/ngr-basic'> basic</a> &nbsp;
    <a routerLink='/ngr-login'> login</a> &nbsp;
    <a routerLink='/ngr-login2'> login2</a> &nbsp;
    <a routerLink='/ngr-conversion'> conversion</a> &nbsp;
    <a routerLink='/ngr-admin-devise'> admin-devise</a> &nbsp;
    -->
    <bsu-nav-bar [menuDefs]="myMenuDefs" [title]="titre" [currentUserRoles]="currentUserRolesLocal" ></bsu-nav-bar>
</p>
