<h3>login</h3>
<form novalidate [formGroup]="myForm">
<label>username:</label>
   <input  formControlName="username" /> 
      <br/>
<label>password:</label>
   <input formControlName="password" /> 
     <br/>
<label>roles:</label>
    <input formControlName="roles" /> 
      <br/>
<input type="button" value="login" (click)="onLogin()" [disabled]="myForm.invalid" />
      <br/>
    </form>
<p>exemple de valeurs correctes (pour le Tp): username=admin1 , password=pwdadmin1 , roles=admin</p>
<p>message: {{message}}</p>
